/* https://codecademy-content.s3.amazonaws.com/PRO/independent-practice-projects/flexbox-business-site/example-site/index.html */
/* https://llewllew.github.io/ALLY-Design-Studio-Homepage/ */
/* https://andrewgrant721.github.io/quarantinedrinks.github.io/ */
/* https://vinhyan.github.io/SabrinasCookbook/# */
/* https://www.codecademy.com/learn/paths/learn-how-to-build-websites/tracks/advanced-css-flexbox-and-animations/modules/layout-with-flexbox/cheatsheet */
/* 
Font 
Logo

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: lato;
  margin: 0 auto;
  text-align: center;
}

body {
  background: linear-gradient(to bottom, #ECF3FC, #ECF3FC);
}

html, body {
  overflow-x: hidden;
}

@media screen and (max-width: 634px) {
  .hero {
    padding-bottom: 5em;
    /* MOBILE BURGER BUTTON */
    /* MOBILE BURGER MENU */
  }
  .hero .navbar {
    display: none;
  }
  .hero .burgerMenu, .hero .burgerButton {
    display: inline;
  }
  .hero .burgerButton {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 25px;
    top: 20px;
    z-index: 3;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  .hero .burgerButton .burgerButtonBar, .hero .burgerButton .burgerButtonBar::after, .hero .burgerButton .burgerButtonBar::before {
    background: white;
    content: "";
    height: 0.3em;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    border-radius: 2px;
  }
  .hero .burgerButton .burgerButtonBar {
    margin-top: 0;
  }
  .hero .burgerButton .burgerButtonBar::before {
    margin-top: 0.8em;
    left: 0;
  }
  .hero .burgerButton .burgerButtonBar::after {
    margin-top: -0.8em;
    left: 0;
  }
  .hero .burgerButton.expanded .burgerButtonBar {
    background: transparent;
  }
  .hero .burgerButtonBar.expanded .burgerButtonBar::after, .hero .burgerButton.expanded, .hero .burgerButtonBar::before {
    margin-top: 0;
  }
  .hero .burgerButton.expanded .burgerButtonBar::after {
    transform: rotate(45deg);
    top: 265%;
  }
  .hero .burgerButton.expanded .burgerButtonBar::before {
    transform: rotate(-45deg);
    top: -265%;
  }
  .hero .burgerMenu {
    background: hsla(0, 0%, 25%, 0.8);
    border-radius: 4%;
    height: 16em;
    width: 100vw;
    transform: translateX(100%) translateY(0vh);
    transition: transform 450ms cubic-bezier(0.5, 0, 0.5, 1);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero .burgerMenu .menu-items {
    color: white;
    font-size: 1em;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    position: relative;
    left: 0em;
    bottom: 0em;
  }
  .hero .burgerMenu .menu-items a {
    text-decoration: none;
    list-style: none;
    color: white;
  }
  .hero .burgerMenu .menu-items li {
    text-align: left;
    padding: 0.8em 2em;
  }
  .hero .menu-expanded {
    transform: translateX(0%) translateY(0%) scale(1, 1);
    position: fixed;
    top: 0;
  }
}
.burgerMenu, .burgerButton {
  display: none;
}

.hero {
  background-image: url("https://dvokhk8ohqhd8.cloudfront.net/assets/landing/candidate/pattern-5486b26bc87f9acadf9a7d309dde3af926df8cb8938901c7a8a3e2b4cad614c4.png"), linear-gradient(rgb(29, 46, 129), rgb(50, 166, 238));
  padding-bottom: 5em;
}
.hero header {
  display: flex;
  width: 100%;
}
.hero header nav {
  height: 75px;
  display: flex;
  align-items: center;
}
.hero header nav #logo {
  padding: 15px 0 0 20%;
  height: 6em;
}
.hero header nav ul {
  display: flex;
  list-style: none;
  position: absolute;
  right: 3%;
  margin: 10px 10px 0 0;
  padding: 10px 0 10px 30%;
  justify-content: center;
  align-items: center;
}
.hero header nav ul li {
  text-transform: uppercase;
  margin: 0 15px;
}
.hero header nav ul li a {
  color: white;
  text-decoration: none;
  transition: all ease 0.3s;
  font-size: 0.7em;
  letter-spacing: 0.2em;
}
.hero header nav ul li a:hover {
  color: lightgray;
}
.hero header nav ul button {
  padding: 10px;
  text-transform: uppercase;
  background: none;
  color: white;
  border-radius: 5px;
  border: solid white 1px;
  font-size: 0.7em;
  letter-spacing: 0.2em;
  transition: all ease 0.2s;
}
.hero header nav ul button:hover {
  background: #4B91E1;
}
.hero header nav ul button:active {
  background-color: rgb(40, 169, 216);
}
.hero header nav ul button:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}
.hero header nav ul button:hover {
  color: lightgray;
}
.hero .jumbotron {
  margin: 5em auto;
  margin-bottom: 4em;
}
.hero .jumbotron h1, .hero .jumbotron h3 {
  color: white;
  margin: 10px;
}
.hero .jumbotron h1 {
  font-size: 4rem;
}
.hero .jumbotron h3 {
  font-size: 1.5rem;
  font-weight: lighter;
}
.hero .jumbotron .butt {
  color: white;
  background: #499DE3;
  padding: 1.2rem;
  margin: 0.5rem;
  font-size: 1.2em;
  border-radius: 12px;
  border: none;
  transition: all ease 0.2s;
}
.hero .jumbotron .butt:hover {
  background: #4B91E1;
}
.hero .jumbotron .butt:active {
  background-color: rgb(40, 169, 216);
}
.hero .jumbotron .butt:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}
.hero .jumbotron .butt .arrowContainer {
  margin-left: -7px;
}
.hero .jumbotron .butt .arrowContainer .arrowStem {
  content: "";
  border: white solid;
  border-width: 2px;
  display: inline-block;
  border-radius: 20%;
  width: 15px;
  padding: 0px;
  transform: rotate(0deg);
  position: relative;
  bottom: 5.7005px;
  left: 17px;
}
.hero .jumbotron .butt .arrowContainer .arrow {
  content: "";
  border: white solid;
  border-width: 0 5px 5px 0;
  display: inline-block;
  border-radius: 20%;
  padding: 5px;
  transform: rotate(-45deg);
}
@media screen and (max-width: 640px) {
  .hero .jumbotron {
    margin: 2em auto;
  }
  .hero .jumbotron h1, .hero .jumbotron h3 {
    color: white;
    margin: 10px;
    letter-spacing: 0.1em;
  }
  .hero .jumbotron h1 {
    font-size: 2rem;
    width: 300px;
    margin: 0 auto;
  }
  .hero .jumbotron h3 {
    font-size: 1.3rem;
    width: 70vw;
    margin: 0.7em auto;
    font-weight: lighter;
    margin-bottom: 2em;
  }
  .hero .jumbotron .butt {
    display: flex;
    width: 90vw;
    color: white;
    background: #499DE3;
    padding: 1rem;
    margin: 0.7rem auto;
    font-size: 1.1em;
    border-radius: 12px;
    border: none;
    transition: all ease 0.2s;
  }
  .hero .jumbotron .butt:hover {
    background: #4B91E1;
  }
  .hero .jumbotron .butt:active {
    background-color: rgb(40, 169, 216);
  }
  .hero .jumbotron .butt:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
  }
  .hero .jumbotron .butt .arrowContainer {
    position: absolute;
    right: 10%;
  }
}

@media screen and (max-width: 768px) {
  .bottom-chevron {
    height: 100px;
    overflow: hidden;
    display: block;
    margin-bottom: -7em;
    box-sizing: inherit;
    position: relative;
    z-index: 100;
    overflow: visible;
  }
  .bottom-chevron .bottom-chevron__left {
    transform: rotate(9deg) translateY(50%) translateX(-10%);
    background-color: #ECF3FC;
    width: 100vw;
    height: 100%;
    position: absolute;
    right: 0;
    top: -90%;
    transform-origin: center;
  }
  .bottom-chevron .bottom-chevron__right {
    transform: rotate(-9deg) translateY(50%) translateX(10%);
    background-color: #ECF3FC;
    width: 100vw;
    height: 100%;
    position: absolute;
    right: 0;
    top: -90%;
    transform-origin: center;
  }
}
.bottom-chevron {
  height: 200px;
  overflow: hidden;
  display: block;
  margin-bottom: -10em;
  box-sizing: inherit;
  position: relative;
  z-index: 100;
  overflow: visible;
}
.bottom-chevron .bottom-chevron__left {
  transform: rotate(9deg) translateY(50%) translateX(-10%);
  background-color: #ECF3FC;
  width: 100vw;
  height: 100%;
  position: absolute;
  right: 0;
  top: -65%;
  transform-origin: center;
}
.bottom-chevron .bottom-chevron__right {
  transform: rotate(-9deg) translateY(50%) translateX(10%);
  background-color: #ECF3FC;
  width: 100vw;
  height: 100%;
  position: absolute;
  right: 0;
  top: -65%;
  transform-origin: center;
}

.cards-section {
  z-index: 1000;
  position: relative;
  padding: 1.5em 3em 6em 3em;
}
.cards-section .tagline {
  padding-bottom: 2rem;
  letter-spacing: 0.1em;
}
.cards-section .subHeadings {
  margin: 2em;
}
.cards-section .products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;
  grid-gap: 0.5rem;
}
.cards-section .products .card {
  padding: 1em 1em;
  background-color: white;
  border-radius: 14px;
  margin: 0.3em;
  transition: all ease 0.2s;
}
.cards-section .products .card:hover {
  background: #4B91E1;
}
.cards-section .products .card:active {
  background-color: rgb(40, 169, 216);
}
.cards-section .products .card:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}
.cards-section .products .card:hover {
  background: white;
  cursor: pointer;
  box-shadow: 0em 0.7em 2em #d9d9d9;
  transform: translateY(-1em);
}
.cards-section .products .card:hover h4 {
  background: #e1e7ee;
}
.cards-section .products .card h5 {
  position: relative;
  text-align: right;
  right: 0.1em;
  top: 0.1em;
  font-size: bold;
  color: #4A90E2;
}
.cards-section .products .card .entryLevel {
  height: 1.5em;
}
.cards-section .products .card img {
  height: 4em;
}
.cards-section .products .card img, .cards-section .products .card h3, .cards-section .products .card p, .cards-section .products .card h4 {
  margin: 7px 0;
  color: rgb(46, 46, 46);
}
.cards-section .products .card p {
  height: 90px;
  font-size: 0.9em;
}
.cards-section .products .card h4 {
  font-size: 0.9em;
  color: #4B91E1;
  padding: 1em 0em;
  border-radius: 5px;
  transition: all ease 0.2s;
}
.cards-section .products .card h4:hover {
  background: #4B91E1;
}
.cards-section .products .card h4:active {
  background-color: rgb(40, 169, 216);
}
.cards-section .products .card h4:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}
.cards-section .products .card h4:hover {
  background: #e1e7ee;
  cursor: pointer;
}
@media screen and (min-width: 500px) {
  .cards-section .entry {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
    justify-content: center;
    grid-gap: 0.5rem;
  }
}

.brands {
  margin-bottom: 3em;
}
.brands h3, .brands span {
  margin: 20px;
  line-height: 1.8;
}
.brands h3 {
  font-size: 1.6rem;
}
.brands .brand-logos {
  margin: 0.5rem auto;
  width: 50rem;
  display: grid;
  grid-template: repeat(5, 1fr)/repeat(5, 1fr);
  justify-content: center;
}
@media screen and (max-width: 960px) {
  .brands .brand-logos {
    grid-template: repeat(5, 1fr)/repeat(3, 1fr);
    width: 30rem;
    padding: 0 2em;
  }
}
@media screen and (max-width: 640px) {
  .brands .brand-logos {
    grid-template: repeat(5, 1fr)/repeat(2, 1fr);
    width: 20rem;
    padding: 0 2em;
  }
}
.brands .brand-logos img {
  padding: 0.5rem 0;
}
.brands .brand-logos .weirds {
  display: grid;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 960px) {
  #asana {
    display: none;
  }
}
.questions {
  padding: 5em 0;
  background: #344759;
}
.questions .q-cards {
  display: flex;
  margin: 2em auto;
  width: 80vw;
}
.questions .q-cards .question {
  padding: 0 1em;
}
.questions h3 {
  margin-bottom: 2em;
  font-size: 1.6rem;
}
.questions h3, .questions h2, .questions p {
  color: white;
}
.questions h2 {
  margin-top: 0.5em;
  font-weight: lighter;
}
.questions p {
  padding: 1em 0;
  font-size: 0.8em;
  line-height: 1.7;
}
.questions button {
  margin-top: 3em;
  background: none;
  color: #49BA7C;
  border: #49BA7C solid 1px;
  border-radius: 4px;
  padding: 1.3em 4.5em;
  letter-spacing: 0.1em;
  transition: all ease 0.2s;
}
.questions button:hover {
  background: #4B91E1;
}
.questions button:active {
  background-color: rgb(40, 169, 216);
}
.questions button:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}
.questions button:hover {
  background: #49BA7C;
  color: #FFFFFF;
}
@media screen and (max-width: 640px) {
  .questions img {
    display: none;
  }
  .questions .q-cards {
    flex-direction: column;
    margin: -2em auto;
    width: 70vw;
  }
  .questions .q-cards .question {
    padding: 0 3em;
    margin: 2em auto;
  }
}

.team {
  padding: 2em 0;
}
.team h3 {
  font-size: 1.6rem;
  margin: 1.5em auto;
}
.team .team-row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  grid-auto-flow: dense;
  grid-gap: 0.5em;
  margin: 0 1em;
  margin-bottom: 2em;
}
.team .team-row .team-member {
  height: 500px;
}
.team .team-row .team-photo1 {
  flex: 1 1 150px;
  background-image: url("https://llewllew.github.io/ALLY-Design-Studio-Homepage/resources/mholmes.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.team .team-row .team-photo2 {
  flex: 1 1 150px;
  background-image: url("https://llewllew.github.io/ALLY-Design-Studio-Homepage/resources/lbaker.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.team .team-row .team-photo3 {
  flex: 1 1 150px;
  background-image: url("https://llewllew.github.io/ALLY-Design-Studio-Homepage/resources/mcox.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.team .team-row .team-photo4 {
  flex: 1 1 150px;
  background-image: url("https://llewllew.github.io/ALLY-Design-Studio-Homepage/resources/abenson.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.team .team-row .team-photo5 {
  flex: 1 1 150px;
  background-image: url("https://llewllew.github.io/ALLY-Design-Studio-Homepage/resources/jshore.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.team .team-row .teamText {
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.team .team-row .teamText .teamText__desc {
  background: hsla(250, 0%, 0%, 0.7);
  position: relative;
  bottom: 0em;
  width: 100%;
  text-align: left;
  padding: 1.5em;
}
.team .team-row .teamText .teamText__desc p {
  font-size: 0.8em;
  color: lightgrey;
}

footer {
  background: #233240;
  padding-bottom: 1.5em;
}
footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
footer ul li {
  list-style: none;
  margin: 0 10px;
  font-size: 0.75rem;
}
footer ul li a {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 960px) {
  .footerLinks1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: flex-start;
    padding: 1.5em;
    text-align: left;
  }
  .footerLinks1 li {
    padding: 0.3em 0;
  }
  .footerLinks2 {
    display: flex;
    justify-content: flex-start;
    padding: 0 0 1.5em 1.5em;
  }
  .footerLinks2 li {
    margin-bottom: 1em;
  }
}/*# sourceMappingURL=styles.css.map */